// Define variables for your color scheme

// For example:
$dark-blue: #3D52D5;
$blue: #539EDE;
$turquoise: #69EAE7;
$black: #1C1D21;
$white: #FFFCFF;
$pink: #FF85AB;

$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
