.favourite-star {
    background-color: transparent;
    border-color: transparent;
}

#favourite_1{
    display: flex;
}

#star-off{
    color: rgba(255, 255, 255, 0.623);
}

#star-on{
    color: $pink;
}