<div class='container'>
  <p>Find me in app/views/booking/index.html.erb</p>

  <h3>Your Bookings</h3>

  <ul>
    <% @bookings.each do |booking| %>
      <li><%= booking.event %></li>
    <% end %>
  </ul>
</div>
