<h1>Booking#show</h1>

<h2><%= @booking.event %></h2>
<p><%= @booking.ticket_amount %></p>

<li class="booking">
      <%= review.content %>
      <%= link_to "Remove",
        booking_path(booking),
        method: :delete,
        data: { confirm: "Are you sure?" } %>
</li>
