<div class="show-booking">
  <h1>CONGRATULATIONS!<br>You have booked the following event:</h1>
  <div class="booking-detail">
    <h2><%= @booking.event.event_name %></h2>
    <% if @booking.ticket_amount == 1 %>
      <h3><%= @booking.ticket_amount %> ticket</h3>
    <% else %>
      <h3><%= @booking.ticket_amount %> tickets</h3>
    <% end %>
  </div>

  <h4> We can't wait to surprise you! </h4>
  <h5> Remember to check you emails 24 hours before your booking. You'll find out more then 😎</h5>
  <br>
  <br>
  <div class="submit-button">
    <%= link_to "MY FAVOURITES", favourites_path, class: "btn btn-primary" %>
  </div>
</div>
