<div class="nav-icon">
    <%= image_tag asset_path('home.png') %>
  </div>
  <div class="nav-icon">
    <%= image_tag asset_path('star.png') %>
  </div>
  <div class="nav-icon">
    <%= image_tag asset_path('user.png') %>
  </div>
</div>
