<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <%= render "search_form" %>

      <div>
        <% @events.each do |event| %>
          <h4><%= link_to "#{event.event_name}", event_path(event) %></h4>
          <p><%= event.event_descritpion %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
