<div class="banner">
  <div class="background-image">
    <%= image_tag asset_path('homepagebackground.jpg') %>
  </div>
  <div class="header">
    <h1><strong>This is Enigma</strong></h1>
    <h4><strong>For you to have a unique and mysterious dining experience.</strong></h4>
    <p><strong>Proud supporters of local restaurants.</strong></p>
    <div class="search-bar">
      <%= render 'events/search_form' %>
    </div>
  </div>
</div>
