<div class="container">
  <h1>Pages#home</h1>
  <p>This is Home/Landing Page. Guests/Users can browse & search for events, also sign up or sign in to view their bookings status and setting.</p>

</div>
