<div class="banner">
  <div class="background-image">
    <%= image_tag asset_path('homepagebackground.jpg') %>
  </div>
  <div class="header">
    <h1 class="col-sm-12 col-bg-6"><strong>This is Enigma</strong></h1>
    <h4 class="col-sm-12 col-bg-6"><strong>For you to have a unique and mysterious dining experience</strong></h4>
    <p class="col-sm-12 col-bg-6"><strong>Proud supporters of local restaurants</strong></p>
    <div class="col-sm-12 col-bg-6">
      <%= render 'events/search_form' %>
    </div>
  </div>
</div>
<div class="mobile-nav">
