.index-forms {
  margin-top: 4px;
  width: 100%;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

#two {
  margin-bottom: 16px;
  background-color: $black;
  color: white;
  border: 2px solid $dark-blue;
}

#index-button {
  // width: 200px;
  // padding: 10px;
  font-size: 1rem;
  border-radius: 30px !important;
}
