<div class="container">
  <%= simple_form_for [@booking, @review], url: booking_review_path(@booking) do |f| %>
    <%= f.input :content, as: :text, label: 'How was your experience?' %>
    <%= f.button :submit %>
  <% end %>
</div>
