.list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  margin-bottom: 8px;
  background: $black;
  padding: 16px 8px;
}

.list-item {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  margin-bottom: 8px;
  background:$black;
  padding: 16px 4px;
  border: 2px solid #3D52D5;
  border-radius: 20px;
  list-style-type: none;
  font-size: 16px;
}

// .list .list-content {
//   flex-grow: 1;
//   margin-left: 20px;
//   margin-right: 20px;
//   text-align: start;
// }

.list .list-content a:hover {
  text-decoration: none;
  font-weight: bolder;
  color: $pink;
}
